@model MichaelBrandonMorris.Rqtblr.Models.LadderViewModels.LadderDisplayModel

@{
}

<h2>Ladder</h2>
<hr/>

<dl>
    <dt>
        Name
    </dt>

    <dd>
        @Model.Name
    </dd>
</dl>

<div class="row">
    <div class="col-sm-6">
        <h3>Players</h3>
        @foreach (var player in Model.Players)
        {
            <div class="row">
                <div class="col-sm-4">
                    @player.FirstName
                </div>
                <div class="col-sm-4">
                    @player.LastName
                </div>
                <div class="col-sm-4">
                    <a asp-action="Details" asp-controller="Players" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h3>Matches</h3>
        @foreach (var match in Model.Matches)
        {
            <div class="row">
                @foreach (var team in match.Teams)
                {
                    <div class="col-sm-3">
                        @foreach (var player in team.Players)
                        {
                            <p>@player.FirstName @player.LastName</p>
                        }
                    </div>
                }
                <div class="col-sm-4">
                    <a asp-action="Details" asp-controller="Matches" asp-route-id="@match.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>